@font-face
{
    font-family: Raleway;
    font-weight: 350;
    src: url(data/fonts/raleway.ttf);
}

body
{
    width: 1440px;
    font-family: Raleway;
    letter-spacing: 0.05rem;
    color: white;
    margin: 0 auto;
}

header
{
    padding: 16px 128px 48px 128px;
}

.colored_more_lighter
{
    background-color: #ffae03;
}

.colored_lighter
{
    background-color: #f8a126;
}

.colored_darker
{
    background-color: #fa8500;
}

.colored_more_lighter, .colored_lighter, .colored_darker
{
    width: auto;
    text-align: center;
}

img
{
    display: inline-block;
}

div.landing
{
    display: flex;
    margin-top: 96px;
}

div.links
{
    display: flex;
    margin-bottom: 32px;
}

img.logo
{
    width: 64px;
}

div.header_buttons
{
    display: flex;
    justify-content: center;
    margin-left: auto; 
    margin-right: 0;
}

button
{
    font-family: Raleway;
    letter-spacing: 0.05rem;
}

button.link
{
    border: none;
    font-size: 11pt;
    font-weight: bold;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

div.slogan-buy
{
    display: inline-block;
    margin-right: 64px;
}

div.slogan
{
    width: 320px;
    font-size: 24pt;
    padding: 32px 48px 32px 96px;
    margin-bottom: 32px;
}

button.buy
{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 19pt;
    color: white;
    background-color: #fa8500;
    padding: 14px 38px;
}

p.slogan_first
{
    text-align: left; 
    margin: 0;
    margin-bottom: 20px;
}

p.slogan_second
{
    text-align: left; 
    margin: 0;
    margin-left: 64px;
}

img.landing_orange
{
    height: 318px;
    display: flex;
    justify-content: center;
    margin: -32px auto 0 auto;
}

div.body
{
    display: grid;
    justify-content: center;
    background-color: white;
    margin: 80px 0 64px 0;
}

div.juice
{
    width: 940px;
    display: flex;
    margin-bottom: 64px;
}

div.juice_description
{
    width: 100%;
    padding: 64px 0 0 0;
}

p.juice_description_first
{
    font-size: 25pt;
    margin-bottom: 64px;
}

p.juice_description_second
{
    font-size: 15pt;
}

div.cell
{
    width: 461px;
    margin-bottom: 32px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

p.cell_title
{
    font-size: 25pt;
}

p.cell_description
{
    font-size: 18pt;
    font-weight: bold;
    color: black;
    margin: -12px 0 64px 0;
}

div.footer
{
    width: 100%;
    display: grid;
    justify-content: center;
}

div.footer_content
{
    width: 1128px;
    padding: 32px 0 24px 0;
}

p.footer_copyright
{
    font-size: 8pt;
    font-weight: 500;
    margin-bottom:23px;
}

button.footer_media
{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    background-color: #cc841f;
    padding-top: 4px;
    margin: 0 8px;
}
